@model List<Products>;

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Phone Details</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table table-borderless">
            <thead>
                @* <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Price
                    </th>
                    <th>URL</th>
                    <th></th>
                </tr> *@
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td><img src="@obj.imgUrl" class="card-img-top rounded" height="180px" width="110px"/></td>
                        <td>@obj.Name
                        <br/>
                        <b>Price</b>@obj.Price
                        <br/>
                        <a href="@obj.url" target="_blank">For more information click here </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>